services:
  map:
    container_name: map
    build:
      context: .
      dockerfile: ./apps/map/Dockerfile
      args:
        - DOPPLER_TOKEN=${DOPPLER_TOKEN}
    restart: always
    environment:
      - DOPPLER_TOKEN={DOPPLER_TOKEN}
    ports:
      - 3000:3000
